@import url("https://fonts.googleapis.com/css?family=Lato|Poppins|Kaushan+Script");

:root {
    --chipdaleColor:#F76C6C;
    --chipColor:#F99797;
    --daleColor:#FFD64F;
    --mainColor:#43485c;
}

.has-verchipally-aligned-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', Lato, Tahoma, sans-serif;
    width: 100%;
    min-height: 100%;
}

.header-wrapper {
    padding-bottom: 0px;
}

.wcs-logo {
    position:absolute;
    top:20px;
    width: 100px;
}

.hero {
    background: url("../images/squirrels2.jpg") no-repeat;
    background-atdalehment: fixed;
    background-size: cover;
    height: 100vh;
    color: white;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16);
    font-family: 'Poppins', sans-serif;
}

.hero .title {
    font-family: 'Kaushan Script', sans-serif;
    transform: rotate(-5deg);
    font-size: 5rem;
    color: whitesmoke;
}

.hero .subtitle {
    padding: 5px;
    color: whitesmoke;
}

.hero .profession {
    padding-top: 50px;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-shadow: 1px 1px var(--mainColor);
}

.hero .hero-foot {
    height: 50px;
    background: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.082);
}

@media (max-width: 599px) {
    .hero .hero-foot {
        display: none;
    }
}

.hero .hero-foot .hero-foot--wrapper {
    margin: 7px auto;
    height: 50px;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop {
    line-height: 38px;
    font-weight: 600;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-size: 1rem;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li.is-active a {
    border-bottom: 2px solid var(--mainColor);
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li a {
    color: var(--mainColor);
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li a:hover {
    color: var(--mainColor);
    transition: all .2s ease-in-out;
    border-bottom: 2px solid var(--mainColor);
}

.main-content {
    padding-top: 0;
    color: var(--mainColor);
    font-family: 'Poppins', sans-serif;
}

.main-content .section-dark {
    background-color: var(--mainColor);
    padding: 80px 0;
    color: ghostwhite;
}

@media (max-width: 599px) {
    .main-content .section-dark.resume {
        padding-top: 75px;
    }
}

.main-content .section-dark.resume button {
    border: 2px solid var(--mainColor);
    background: white;
    color: var(--mainColor);
    height: 50px;
    width: 250px;
    font-size: 1rem;
    text-transform: uppercase;
}

.main-content .section-dark.resume .fa-download {
    color: var(--mainColor);
}

.main-content .section-dark.my-work {
    padding: 120px;
}

@media (max-width: 599px) {
    .main-content .section-dark.my-work {
        padding: 75px 20px;
    }
}

.main-content .section-dark.my-work .work-item {
    margin-bottom: 1rem;
    transition: all .1s ease-in-out;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

.main-content .section-dark.my-work .work-item:hover {
    transform: scale(1.055) translateY(-2px);
    box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
}

.main-content .section-light {
    padding: 30px;
}

.main-content .section-light.about-me {
    padding-bottom: 100px;
}

.main-content .section-light.about-me .is-larger {
    font-size: 1.2rem;
}

@media (max-width: 599px) {
    .main-content .section-light.about-me .about-links {
        text-align: center;
    }
}

.main-content .section-light.about-me .right-image img {
    border-radius: 11px;
    margin: 20px;
    box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

@media (max-width: 599px) {
    .main-content .section-light.about-me .right-image img {
        margin: auto;
    }
}

.main-content .section-light.skills {
    padding: 100px;
}

@media (max-width: 599px) {
    .main-content .section-light.skills {
        padding: 50px 20px 40px 20px;
        padding-bottom: 20px;
    }
}

.main-content .section-light.skills h1 {
    padding: 10px;
}

.main-content .section-light.condalet {
    padding: 200px;
}

.main-content .section-light.condalet button {
    width: 100%;
    background-color: var(--mainColor);
    color: white;
    height: 50px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 599px) {
    .main-content .section-light.condalet {
        padding: 60px 20px;
    }
}

.main-content .section-color.services {
    padding: 100px;
    background-color: var(--mainColor);
    color: white;
}

.main-content .section-color.services .title,
.main-content .section-color.services .subtitle {
    color: white;
}

.main-content .section-color.services i {
    font-size: 3rem;
    padding: 20px;
}

.main-content .section-title {
    color: var(--mainColor);
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 2px;
    padding-bottom: 30px;
}

.footer {
    bottom: 0;
    margin-top: 1.25rem;
    padding: 0;
    line-height: 25px;
    text-align: center;
    background: var(--mainColor);
    color: ghostwhite;
}

.footer a {
    padding: 0 1rem 1rem 1rem;
    color : ghostwhite;
}

.footer a i {
    font-size: 1.5rem;
    padding: 0 10px;
}

.fa-download {
    color: var(--mainColor);
}

#toTop {
    height: 50px;
    width: 50px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1;
    border: none;
    outline: none;
    background-color: var(--chipdaleColor);
    color: white;
    cursor: pointer;
    border-radius: 50%;
    font-size: 2rem;
    box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

#toTop a {
    color: white;
}

#toTop:hover {
    background-color: #C8C8C8;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--mainColor);
}

body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: var(--mainColor);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
}

.white
{
    color:ghostwhite !important;
}

.chip-card {
    background: var(--chipColor);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.dale-card {
    background: var(--daleColor);;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.chipdale-card {
    background: var(--chipdaleColor);
    border-radius: 6px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.inline-block {
    display: inline-block;
    color: black;
}
code {
    padding: .12em .12em .12em;
}
.column {
    padding: 1.25rem;
}
iframe {
    height: 400px;
}
